@tailwind base;
@tailwind utilities;

:root {
  --color-default: #130B43;
  --color-secondary: #5C5589;

}


html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 400;
}

html {
  font-size: 55.3%;

}

@media (min-width: 940px) {
  html {
    font-size: 62.5%;

  }
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}