// NB:orange
// You have to jump between multiple files to make changes —
// which is a way bigger workflow killer than you’d think before co-locating everything together.

// If you’re going to use @apply, use it for very small, highly reusable things like buttons and form controls
//  — and even then only if you’re not using a framework like React where a component would be a better choice.
:root {
  --color-default: #130b43;
  --color-secondary: #5c5589;
}

::-moz-selection {
  background-color: var(--color-default);
  color: #fff;
}

::selection {
  background-color: var(--color-default);
  color: #fff;
}

@tailwind base;
@layer base {
  html,
  body {
    @apply p-0 m-0 overflow-x-hidden font-normal h-screen;
    font-family: "Poppins", sans-serif !important;
  }

  html {
    // font-size: 55.3%;
    font-size: 100%;
  }

  @media (min-width: 600px) {
    html {
      //10px work-flow -
      // font-size: 62.5%;
      // --------------------------------
      // 16px work-flow tailwind
      font-size: 100%;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  *,
  *::before,
  *::after {
    @apply m-0 p-0 box-border;
  }
}

@tailwind components;
@layer components {
  // Table BTN
  .tb-btn {
    @apply flex border border-solid border-[#d5d8e4] text-[color:var(--color-secondary)] text-left transition-all  duration-500 items-center font-medium text-sm py-2 px-4 rounded-md leading-6;

    box-shadow: 0px 1px 0px 1px rgba(203, 201, 217, 0.6);

    &:active {
      background-color: #d5d8e47e;
    }
    &:focus {
      outline: 1px solid var(--color-default);
    }

    svg:first-child {
      margin-right: 1.03rem;
    }
    svg {
      margin-left: 1.03rem;
    }

    &--inactive {
      background: #e0e0ed;
      box-shadow: none;
      border: 1px solid transparent;
      color: #76709f;
      cursor: not-allowed;
    }
  }

  button {
    &:focus {
      outline: 1px solid #5c5589;
    }
  }
}

@tailwind utilities;
@layer utilities {
  // Hide scroll bar
  .scroll_hide::-webkit-scrollbar {
    display: none;
  }
  .scroll_hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .radio-checked-style * {
    background: #3f3a5a !important;
    opacity: 1 !important;
  }

  .exe-shadow {
    box-shadow: 0px 4px 42px rgba(79, 114, 205, 0.15);
  }

  .shadow-yellow {
    box-shadow: 0px 4px 24px rgba(156, 130, 38, 0.4);
  }

  .exe-btn-reputation {
    @apply flex font-semibold text-left text-base px-4 relative justify-center border-[3px] border-solid border-transparent rounded-[100px] items-center text-[rgb(251,252,254)];
    background-clip: padding-box, border-box;
    background-color: var(--backgroundColorA);
    background-image: linear-gradient(rgb(19, 11, 67), rgb(19, 11, 67)), linear-gradient(rgb(158, 0, 255), rgb(34, 0, 255));
    background-origin: border-box;
    line-height: 200%;
    border-image: initial;
    font-family: inherit;

    img {
      @apply h-6 mr-2 w-6;
      filter: invert(88%) sepia(37%) saturate(870%) hue-rotate(355deg) brightness(90%) contrast(96%);
    }
  }
}

// MUI styles:Needs to be seen and Independent of tailwind compilation
.MuiRadio-root .MuiSvgIcon-root {
  font-size: 1.581rem !important;
  font-family: inherit !important;
  color: var(--color-secondary);

  &:nth-child(2) {
    color: #3f3a5a;
  }
}

.MuiPagination-ul .MuiButtonBase-root {
  border-radius: 5px;
  border: 1px solid #d5d8e4;
  font-family: inherit !important;
  color: var(--color-secondary);
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 170%;

  height: 2.5rem;
  padding: 0 1rem;
  margin: 0 0.375rem;

  &.Mui-selected {
    background: #e1ebff;
    color: #130b43;
    border: 1px solid #76709f;
  }
}
